:root {
  --success-color: rgba(45, 210, 132, 1);
  --error-color: rgba(241,79,93,255);
  --logo-color: #99ccff;
}

.background-image {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


#main-logo{
    position: relative;
	width: 100%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

#navbar-logo{
	width: 10vh;
}

#navbar{
    padding-left:2vw;
    padding-right:2vw;
}

/*body {
    margin: 1rem;
}*/

.popup-circle{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 70px;
   height: 70px;
   border: 3.2px solid white;
   border-radius: 50%;
   color: white;
   font-size: 40px;
   margin: 2rem;
 }

.btn-primary {
    background-color: #99ccff !important;
    border-color: #99ccff !important;
    color: white !important;
}

.btn-outline-primary {
  background-color: white !important;
  border-color: #99ccff !important;
  color: #99ccff !important;
}

.bg-primary{
    background-color: #99ccff !important;
}
.text-primary {
    color: #99ccff !important;
}
.text-highlighted {
    color: #99ccff !important;
}


.form-check-input:checked {
  background-color: #99ccff;
  border-color: #99ccff;
}

.form-check-input:focus {
  border-color: #99ccff;
  outline: 0;
  box-shadow: 0 0 0 .25rem #99ccff;
  --bs-form-switch-bg: none;
}


#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20vh;
}

.sagrone-message{
    margin: 1vh 2vw 1vh 2vw;
}